/* body{
    background-color: rgba(54, 52, 52, 0.863);
} */

#detail-page-link{
    padding: 15px 15px;
    cursor: pointer;
}

#detail-page-link:hover{
    background-color: rgb(196, 190, 190);
    text-shadow: black;
    color: white;
}