<div>
<br>
<!-- <div align="center">Click Here to fetch the data ->  
    <button (click)="fetchweather()" class="btn waves-effect grey">Fetch Data </button>
</div> -->
<h3 align="center">Weather App </h3>
<br>
<div class="container">
    <ul>
        <li *ngFor="let weather of weathers " (click)= "onweatherclick(weather)" id="detail-page-link" class="flow-text"> {{ weather.weather[0].main + " -> " + weather["dt_txt"]}}</li>
    </ul>
</div>
</div>