<div><br><br></div>
<div class="container" id="detail-main">
    <h2>Date :- {{weather.dt_txt}}</h2><br />
    <div class="flow-text">
        Temperature :- {{weather.main.temp}}<br />
        Minimum Temperature :- {{weather.main.temp_min}}<br />
        Maximum Temperature :- {{weather.main.temp_max}}<br />
        Pressure :- {{weather.main.pressure}}<br />
        Humidity :- {{weather.main.humidity}}<br />
        Pressure :- {{weather.main.pressure}}<br />
    </div>
</div>